
html {
  box-sizing: border-box;
  }

*:before, *:after {
  box-sizing: inherit;
  } 

body {
  background-color: #0d1117;
  font-family: poppins;
  color: #c9d1d9;
  padding-bottom: 0;
  margin: 0;
  min-height: 100%;
}

.main {
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  padding-right: 5%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
  margin: 0;
  border-bottom: 0.5px solid #31363C;
}

.github-logo {
  width: 48px;
  height: 48px;
  margin-right: 2rem;
  margin-bottom: 0;
}

h1 {
  font-size: 1.5rem;
  font-weight: 300;
  padding-left: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 100;
  margin-top: 0;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #58a6ff;
}

h4 {
  font-size: 1rem;
  margin: 0;
}

p {
  font-size: 12px;
  font-weight: 100;
  margin: 0.5rem 0 0 0;
}

a {
  color: #58a6ff;
  font-weight: 600;
  text-decoration: none;
  position: relative;
}

a:hover {
  color: #dedede;
}


a::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  color: #dedede;
  background: #4694ee;
  z-index: -1;
  transition: transform .3s ease;
}

.main {
  padding-right: 5%;
  padding-left: 5%;
}

/* LEFT AREA */

.left-area {
  width: 25%;
  padding-top: 4rem;
}

.user-name {
  margin-top: 0;
}

.profile h2 {
  margin-bottom: 0;
}

.user-img {
  border-radius: 50%;
  width: 50%;
  height: auto;
  margin-bottom: 1rem;
}

.button {
  width: 100%;
  height: 48px;
  background-color: #21262d;
  color: #dedede;
  border: none;
  border-radius: 12px;
  font-size: 1.125rem;
  margin-top: 1rem;
}

.chart {
  width: 100%;
  height: auto;
  padding-top: 3rem;
}


/* RIGHT AREA */

.right-area {
  width: 100%;
  padding-left: 3rem;
  padding-top: 4rem;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
}

.project-card {
  background-color: #161b22;
  padding: 1.5rem 1rem 1.5rem 1.5rem;
  border-radius: 12px;
  min-width: auto;
  border: 1px solid #31363C;
}

.open-modal {
  float: right;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #21262d;
  border: none;
}

.link-arrow {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
}


/* TOOL-TIP  */

/* Tooltip container */
.tooltip {
  position: relative;
  float: right;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: left;
  padding: 1.5rem;
  border-radius: 12px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0;
  margin-left: -100px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


@media (min-width: 768px) and (max-width: 991px) {

  .main {
    display: flex;
    flex-direction: column;
  }

  .left-area {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    width: 100%;
  }

  .user {
    font-size: 1.5rem;
  }

  .bio {
    font-size: 1rem;
  }

  h2 {
    font-size: 1rem;
  }

  .profile {
    width: 50%;
    padding-right: 1.5rem;
  }

  .chart {
    width: 50%;
  }

  .right-area {
    padding-left: 0;
    padding-top: 3rem;
  }

  .project-grid {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 1.5rem;
  }

  .project-card {
    padding: 1rem;
  }

  .tooltip {
    display: none;
  }

}


@media (max-width: 767px) {

  body {
    max-width: 100%;
  }

  .header {
    width: 100%;
    padding: 0;
    border-bottom: 0.5px solid #31363C;
  }

  .github-logo {
    width: 32px;
    margin-right: 1rem;
  }
  
  h1 {
    font-size: 1rem;
    padding-left: 1rem;
    margin: 0;
  }

  h2 {
    font-size: 1rem;
    font-weight: 300;
  }

  h3 {
    margin-top: 0;
  }

  h4 {
    font-size: 1rem;
  }


  .main {
    flex-direction: column;
    margin: 1rem;
    padding: 0;
  }

  .left-area {
    width: 100%;
    align-content: flex-start;
    padding: 0;
    margin-top: 1rem;
  }

  .profile-area {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .profile h2 {
    font-size: 1.5rem;
  }

  .user {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }

  .user-img {
    border-radius: 50%;
    width: 64px;
    height: auto;
    margin-bottom: 1rem;
  }

  p {
    font-size: 14px;
  }

  .chart {
    padding-top: 1rem;
  }

  .right-area {
    padding-left: 0;
    padding-top: 2rem;
  }
  
  .project-grid {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 1rem;
  }
  
  .project-card {
    padding: 1rem;
    border-radius: 12px;
    width: auto;
  }

  .tooltip {
    display: none;
  }
}
